@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";


@theme {
  --font-instrument: "Instrument Serif", serif;
  --breakpoint-xs: 400px;

}

body {
  background-color: rgb(225, 225, 225);
}

.cart-product-custom-shadow {
  box-shadow: inset 0 4px 5px -5px rgba(0, 0, 0, 0.3)
}